<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} My site</title>
    {% endblock title %}
</head>
<body>
    <header>
        <h1><a href = "{% url 'home' %}">My site</a></h1>
    </header>
    <nav>
        <li><a href= "{% url 'home' %}">Home</a></li>
        <li><a href= "{% url 'blog:blog' %}">Blog</a></li>
        {% comment %} <li><a href= "{% url 'about' %}">About</a></li> {% endcomment %}
        {% if user.is_authenticated %}
            <li><a href ="{% url 'accounts:profile' %}">Profile</a></li>
            <li><a href ="{% url 'accounts:logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
        <li><a href="{% url 'accounts:register' %}">Register</a></li>
        {% endif %}
    </nav>
    <main>
        {% block content %}

        {% endblock content %}
    
    </main>
    <footer>
        <p>&copy; 2023 My Django Site</p>
    </footer>
</body>
</html>