<!-- templates/accounts/change_password.html -->

{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
  <div class="container mt-4" style = "height: 85vh;">
    <h2>비밀번호 변경</h2>
    <form method="post" class="needs-validation" novalidate>
      {% csrf_token %}
      {% for field in form %}
        <div class="mb-3">
          {{ field.label_tag }}
          {{ field|add_class:"form-control" }}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">비밀번호 변경</button>
    </form>
  </div>
{% endblock %}
