{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="d-flex flex-column"  >
    <main class="flex-shrink-0" style="height:100%" >
            <section class="py-5" >
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-3">
                            <div class="d-flex align-items-center mt-lg-5 mb-4">
                                {% comment %} <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /> {% endcomment %}
                                <div class="ms-3">
                                    <div class="fw-bold">[👦Author] : {{post.author}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <!-- Post content-->
                            <article >
                                <!-- Post header-->
                                <header class="mb-4">
                                    <!-- Post title-->
                                    <h1 class="fw-bolder mb-1">{{post.category}}&nbsp{{ post.title }}</h1>
                                    <!-- Post meta content-->
                                    <div class="text-muted fst-italic mb-2">Upload Date:{{ post.created_at }}</div>
                                    <div class="text-muted fst-italic mb-2">Views:{{ post.view_count }}</div>
                                    <!-- Post categories-->
                                    <!-- Post categories-->
                                    <div class="text-muted fst-italic mb-2">
                                        {% for tag in tags %}
                                            Tags:{{ tag.name }}
                                            {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </div>

                                </header>
                                <!-- Preview image figure-->
                                {% if object.image %}
                                <img class="img-fluid rounded-3 mb-3" src="{{ post.image.url }}" alt="image">
                                {% else %}
                                <p>No Image</p>
                                {% endif %} 
                                <!-- Post content-->
                                <section class="mb-5">
                                    <p class="fs-5 mb-4">{{ post.content }}</p>
                                    {% if post.file_upload %}
                                    {% if file_extension == ".mp4" or file_extension == ".webm" or file_extension == ".ogg" %}
                                        <video src="{{ post.file_upload.url }}" controls></video>
                                    {% elif file_extension == ".jpg" or file_extension == ".png" or file_extension == ".gif" %}
                                        <img src="{{ post.file_upload.url }}" alt="{{ post.title }}">
                                    {% else %}
                                        <a href="{{ post.file_upload.url }}">Download file</a>
                                    {% endif %}
                                {% endif %}
                                                         
                                </section>
                            </article>
                            <!-- 좋아요 버튼 -->
                            <a href="{% url 'blog:like_post' post.pk %}" class="btn btn-outline-primary">
                            <i class="bi bi-heart{% if request.user in post.likes.all %}-fill{% endif %}"></i>
                            {{ post.likes.count }}
                                </a>
                            <br>
                            <br>
                            <!-- Comments section-->
                            <section>
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <!-- Comment form-->
 
                                        <!-- Comment with nested comments-->
                                        {% for comment in main_comments %}
                                        <div class="mb-4">
                                            <!-- Parent comment-->

                                            {% comment %} <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div> {% endcomment %}


                                            <div class="ms-3 w-100">
                                                <div class="fw-bold">Author:{{comment.author}}</div>
                                                <div class="fw-bold">Date:{{comment.updated_at}}</div>
                                               {{comment.message}}
                                               <div class="text-muted fst-italic">{{ comment.updated_at }}</div>
                                               {% if request.user == comment.author %}
                                               <a href ="{% url 'blog:comment_update' comment.pk %}" class="btn btn-primary">Edit</a>
                                               <a href ="{% url 'blog:comment_delete' comment.pk %}" class="btn btn-secondary">Delete</a>
                                               {% endif %}
                                               <a href ="{% url 'blog:reply_new' post.pk comment.pk %}" class="btn btn-danger">Comment</a>
            
                                <!-- Replies -->
                                {% for reply in comment.replies.all %}
                                <div style="margin-left: 20px;">
                                    <strong>Reply: </strong>{{ reply.message }}<br>
                                    <strong>By: </strong>{{ reply.author }}<br>
                                    {% if request.user == reply.author %}
                                    <a href="{% url 'blog:comment_update' reply.pk %}" class="btn btn-primary">Edit</a>
                                    <a href="{% url 'blog:comment_delete' reply.pk %}" class="btn btn-secondary">Delete</a>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            {% endfor %}

                                        {% comment %} {%endfor%} {% endcomment %}
                                                <!-- Child comment 1-->
                                                <div class="container my-5">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h2 class="mb-4">📌Comment</h2>
                                                            <form action="{% url 'blog:comment_new' post.pk %}" method="post" class="mb-4">
                                                                {% csrf_token %}
                                                                <div class="mb-3">
                                                                    <textarea class="form-control" id="id_message" name="message" rows="3">{{ comment_form.message.value|default_if_none:""}}</textarea>
                                                                </div>
                                                                <input type="submit" class="btn btn-primary" value="Comment">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                
                                                
                            </section>
                            <br>
                            <a href="{% url 'blog:blog' %}" class="btn btn-primary">List</a>
                            {% if user == post.author %}
                                <a href="{% url 'blog:edit' post.pk %}" class="btn btn-secondary">Edit</a>
                                <a href="{% url 'blog:delete' post.pk %}" class="btn btn-danger">Delete</a>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </section>

        </main>

        <!-- Bootstrap core JS-->
        {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}

</body>
{% endblock %}